.sider {
  width: 60px;
  overflow: hidden;
  transition: all .15s ease;
  position: relative;
  z-index: 2;
  background: #ffffff00;
  &.active{
    width: 200px;
    margin-right: -140px;
    background: #fff;
  }
}

.menu {
  list-style: none;
  width: 200px;
  li {
    display: block;
    line-height: 40px;
    a{
        display: block;
        &:hover{
            background: #0000002b;
        }
    }
    .iconfont{
        display: inline-block;
        width: 60px;
        height: 40px;
        text-align: center;
        font-weight: bold;
    }
  }
}
